<h1>Редактировать курс</h1>

<form action="/courses/edit" method="post">
    <div class="input-field">
        <input id="title" name="title" type="text" value="{{course.title}}" class="validate" required>
        <label for="title">Course Name</label>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="number" value="{{course.price}}" class="validate" required>
        <label for="title">Price</label>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" value="{{course.img}}" class="validate" required>
        <label for="img">URL img</label>
    </div>
    <div class="input-field"></div>
    <input id="id" name="id" type='hidden' value='{{course.id}}'></>
    <button class="btn btn-primary">Submit</button>
</form>